@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-marquee-wrapper {
  overflow: hidden;
  white-space: nowrap;
}

.banner-marquee-inner {
  display: flex;
  width: 200%;
  animation: banner-marquee 20s linear infinite;
  align-items: center;
}

.banner-marquee-item {
  flex: 0 0 50%;
  display: inline-flex;
  align-items: center;
  padding-right: 3rem;
}

@keyframes banner-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
