@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-marquee {
  animation: banner-marquee 20s linear infinite;
}

@keyframes banner-marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
